# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Environment
.env
.env.local
.env.development
.env.preview
.env.production
.env.*.local

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Testing
coverage/
